include mlhub/bash_completion.d/ml.bash
include docs/README.md
include LICENSE
include mlhub/scripts/dep/python.sh
include mlhub/scripts/dep/r.R
include mlhub/scripts/dep/system.sh
include mlhub/scripts/dep/mlhub.sh
include mlhub/scripts/convert_readme.sh
include mlhub/scripts/dep/utils.sh